/* CSS Elements intented for the landing page */
.landingBody {
  background-color: #1b1c1a;

  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landingHeader {
  color: white;
  font-family: "Roboto Condensed", sans-serif;
  text-align: center; 
  font-size: clamp(2rem, 4vw, 3rem);

  padding: 25vh 5vw; 
} 

.landingBtn {
  background-color: #ffc400; 
  border: 1px solid #1b1c1a; 
  margin: 10px;
  padding: 15px; 
  border-radius: 10px;

  color: #1b1c1a; 
  font-family: "Roboto Condensed", sans-serif; 
  text-decoration: none;
  font-size: clamp(1rem, 2vw, 1.5rem);
}

.landingBtn:hover {
  background-color: #574610; 
} 

/* CSS Elements intented for the home page */
.headerSection {
  top: 0;
  left: 0;
  position: fixed;
  height: 100px;
  width: 100%; 

  background-color: #121212;

  align-content: space-around;
}