body {
  background-color: #1b1c1a;;
}

.btnType1 { 
  background-color: #0090d3; 
  border-radius: 10px;
  padding: 15px; 
  margin: 1px;

  color: #1b1c1a; 
  font-family: "Roboto Condensed", sans-serif; 
  text-decoration: none;
  font-size: clamp(1rem, 2vw, 1.5rem);  

  transition: transform 0.2s ease-in-out;
} 

.btnType1:hover {
  background-color: #00aeff;  

  cursor: pointer;

  color: white;

  transform: scale(1.1);
}  

/* CSS Elements intented for the landing section ------------------------------------------------------------------------*/

.landingBody {
  background-color: none;
  height: 100vh;

  margin: 0;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.landingContent {
  color: white;
  font-family: "Roboto Condensed", sans-serif;
  text-align: center; 
  font-size: clamp(2rem, 4vw, 3rem);  

  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
}  

.landingText {
  margin: 0 0 1rem;
}

/* CSS Elements intented for the home page ------------------------------------------------------------------------*/

.homeBody {
  background-color: #1b1c1a;

  margin-top: clamp(2.25rem, 10vh, 4rem);

  display: flex;
  flex-direction: column;  
  align-items: center;
  justify-content: center; 
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(30px);
  }
  100% {
    opacity: 1; 
    filter: blur(0);
    transform: translateY(0);
  }
}

.hiddenElement {
  opacity: 0;
}

.fadeIn {
  animation: fadeUp 0.5s ease-out forwards;
}

h3 {
   font-family: "Roboto Condensed", sans-serif; 
   font-size: clamp(1.5rem, 2vw, 2.25rem); 
}

/* CSS Elements intented for the footer ------------------------------------------------------------------------*/

.footerSection { 
  background-color: #121212;
  color: white; 
  height: clamp(3rem, 15vh, 6rem); 

  display: flex;
  align-items: center; 
  justify-content: center;
}

.footerBtn {  
  color: white; 
  border-bottom: 2.5px solid #0090d3;
  text-decoration: none;
  font-size: clamp(10px, 10vw, 25px);   
  font-family: "Roboto Condensed", sans-serif; 
  padding: 5px;
  margin: 0 1rem 0;

  display: flex;
  flex-direction: row;  
  align-items: center;
  justify-content: center; 
  
  transition: transform 0.2s ease-in-out; 
  cursor: pointer;
}  


.footerBtn:hover {
  color: #0090d3; 
  border-bottom: 2.5px solid #00aeff;
  transform: scale(1.1);
} 

